* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

:root {
  /* Primary */
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-brightYellow: hsl(71, 73%, 54%);

  /* Neutral */
  --clr-lightGray: hsl(204, 43%, 93%);
  --clr-grayBlue: hsl(218, 22%, 67%);
}

/* General */

body {
  position: relative;
  background: var(--clr-lightGray);
  width: 100vw;
  height: 100%;
}

.title {
  font-size: 1.5rem;
  /* padding-top: 2rem; */
  padding-top: 10%;
  font-size: 1.2rem;
  font-weight: 700;
}

.item {
  padding-left: 2rem;
}

.container {
  display: grid;
  width: 80vw;
  height: 60%;
  margin: 18% auto;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 23px 45px -10px rgba(0, 0, 0, 0.21);
}

/* Make squares responsive */

.first-section,
.second-section,
.third-section {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.grid {
  max-width: 80vw;
  max-height: 80vw;
  height: 100%;
}

/* First section */
.first-section {
  background: white;
  text-align: left;
  font-size: 0.8rem;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.first-section .title {
  color: var(--clr-cyan);
  width: 90%;
}

.first-section .subtitle {
  color: var(--clr-brightYellow);
  width: 90%;
  padding-top: 1rem;
}

.first-section .details {
  color: var(--clr-grayBlue);
  width: 90%;
  padding-top: 1rem;
  line-height: 1.8rem;
}

/* Second section */
.second-section {
  color: white;
  background: var(--clr-cyan);
}

.second-section .money {
  color: var(--clr-lightGray);
  width: 90%;
  padding-top: 1rem;
}

.second-section .money span {
  color: white;
  font-size: 2rem;
  padding-right: 1rem;
}

.second-section .details {
  padding-top: 1rem;
}

.second-section .btn-section {
  text-align: center;
  padding: 3rem 0;
}

.second-section button {
  width: 90%;
  height: 3rem;
  background: var(--clr-brightYellow);
  color: white;
  border-radius: 0.5rem;
  border: solid 1px transparent;
  box-shadow: 0px 23px 45px -10px rgba(0, 0, 0, 0.21);
}

button:focus {
  outline: none;
}

button:hover {
  /* transform: scale(0.99); */
  color: var(--clr-brightYellow);
  background: white;
}

button:active {
  transform: scale(0.99);
}

/* Third section */

.third-section {
  color: white;
  background: hsl(179, 44%, 55%);
}

.third-section ul {
  list-style: none;
  padding-top: 1rem;
}

.third-section ul li {
  padding-top: 0.5rem;
}

.third-section ul li a {
  text-decoration: none;
  color: var(--clr-lightGray);
}

.third-section ul li a:visited {
  color: var(--clr-lightGray);
}

.third-section ul li a:hover {
  color: white;
}

footer {
  height: 4%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
  text-decoration: none;
}

@media (min-width: 470px) and (max-width: 674px) {
  .title {
    font-size: 2rem;
  }

  .item {
    padding-left: 2rem;
  }

  .first-section .subtitle {
    font-size: 1.5rem;
    padding-top: 10%;
  }

  .first-section .details {
    font-size: 1.2rem;
    padding-top: 10%;
    line-height: 2rem;
  }

  .second-section .money {
    font-size: 1.5rem;
  }

  .second-section .details {
    font-size: 1.2rem;
    padding-top: 10%;
  }

  .second-section button {
    height: 4rem;
    background: var(--clr-brightYellow);
    color: white;
    border-radius: 0.5rem;
    border: solid 1px transparent;
    box-shadow: 0px 23px 45px -10px rgba(0, 0, 0, 0.21);
  }

  button span {
    font-size: 1.5rem;
  }

  .third-section ul {
    padding-top: 10%;
  }

  .third-section ul li {
    padding-top: 3%;
  }

  .third-section ul li a {
    font-size: 1.4rem;
  }
}

@media (min-width: 675px) and (max-width: 959px) {
  /* body {
    background: red;
  } */

  .title {
    font-size: 2.8rem;
  }

  .item {
    padding-left: 3rem;
  }

  .first-section .subtitle {
    font-size: 2rem;
    padding-top: 15%;
  }

  .first-section .details {
    font-size: 1.5rem;
    padding-top: 15%;
    line-height: 3rem;
  }

  .second-section .money {
    padding-top: 15%;
    font-size: 1.5rem;
  }

  .second-section .money span {
    font-size: 2.8rem;
  }

  .second-section .details {
    font-size: 1.5rem;
    padding-top: 15%;
  }

  .second-section button {
    height: 5rem;
    background: var(--clr-brightYellow);
    color: white;
    border-radius: 0.5rem;
    border: solid 1px transparent;
    box-shadow: 0px 23px 45px -10px rgba(0, 0, 0, 0.21);
  }

  button span {
    font-size: 2rem;
  }

  .third-section ul {
    padding-top: 10%;
  }

  .third-section ul li {
    padding-top: 3%;
  }

  .third-section ul li a {
    font-size: 1.8rem;
  }
}

@media (min-width: 960px) {
  body {
    position: relative;
    background: var(--clr-lightGray);
    width: 100%;
    height: 100%;
  }

  .container {
    display: grid;
    width: 60vw;
    height: 75vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "areaA areaA"
      "areaB areaC";

    margin: 10vh auto;
  }

  .first-section,
  .second-section,
  .third-section {
    content: "";
    padding-bottom: 0;
    display: inline-block;
  }

  .grid {
    max-width: 100%;
    max-height: 100%;
  }

  .first-section {
    grid-area: areaA;
  }

  .second-section {
    grid-area: areaB;
  }

  .third-section {
    grid-area: areaC;
  }

  .title {
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }

  .item {
    padding-left: 2.5rem;
  }

  .first-section .subtitle {
    font-size: 1.3rem;
    padding-top: 2%;
  }

  .first-section .details {
    font-size: 1rem;
    padding-top: 2%;
    line-height: 2rem;
  }

  /* .second-section .title {
    padding-top: 3rem;
  } */

  footer {
    position: absolute;
    bottom: -12%;
    left: 42%;
  }
}
