* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  /* Primary */
  --clr-darkViolet: hsl(256, 26%, 20%);
  --clr-grayBlue: hsl(216, 30%, 68%);

  /* Neutral */
  --clr-veryDarkViolet: hsl(270, 9%, 17%);
  --clr-darkGrayViolet: hsl(273, 4%, 51%);
  --clr-veryLightGray: hsl(0, 0%, 98%);
}

header {
  font-family: "DM Serif Display", serif;
}

body {
  font-family: "Karla", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
